header
{
 	background-image: url("ArrierePlan.jpg");
 	background-repeat: no-repeat;
 	display: block;
 	text-align: center;
}

.classTOT, .classALL, .classFG, .classLO
{
	text-align: center;
	color: #FFA40F;
}
.classTOTtxt, .classALLtxt, .classFGtxt, .classLOtxt
{
	text-align: center;
	color: black;
	font: 15px 'Verdana';
}

.textECE, .textaik
{	
	background-image: none;
	float: left;
}

nav
{
	text-align: center;
}

body
{
	background-image: url(fondGris.jpg);
	background-repeat: no-repeat;
}

.bodyexp
{
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
}

.bodyContact
{
	background-image: url(fond-contact.jpg);
	background-repeat: no-repeat;
}

#propos ul 
{
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
}

#propos li 
{
	/*float:center;*/
	position: absolute;
  	left: 38%;
  	margin-left: -50px;
	margin:auto;
	padding:0;
 	background-color:#EEB800;
}

#propos li a 
{
 	display:block;
 	width:310px;
 	color:white;
 	text-decoration:none;
 	padding:5px;
 	border-radius: 5px 10px 0 5px;
}

#propos li a:hover 
{
 	color:#000000;
}

#propos ul li ul 
{
	display:none;
}

#propos ul li:hover ul 
{
	display:block;
}

#propos li:hover ul li 
{
	float:none;
}

#propos li ul 
{
	position:absolute;
}

.myButton 
{
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:4px;
	border:2px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:9px 76px;
	text-decoration:none;
	text-shadow:1px 0px 0px #86ae47;
}

.myButton2
{
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:4px;
	border:2px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:9px 99px;
	text-decoration:none;
	text-shadow:1px 0px 0px #86ae47;
}

.myButton:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.formulaire
{
	margin-left :40%;
	margin-top: 20%; 
}

input, textarea 
{
 background-color:#FFF3F3;
 display: inline-block;
 padding:5px;
 margin-left: 30px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

 td
 {
 	padding: 5px;
 }

 input[type=submit] 
 {
 width:100px;
 margin-left:140px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }

.classECE
{
	float: left;
}

.classCP
{
	position: absolute;
	margin-top: 260px;
	float: left;
}

.textECE
{
	margin-left: 40%;
}

.textaik
{
	margin-left: 20%;
}

.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.zoomCP div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomCP div:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}